<style>

    body {
       background-image: url("http://southparkstudios.mtvnimages.com/shared/locations/city-hall.jpg");
     }

</style>

<h1>All ROBOTS</h1>

<div class="btn-group" role="group" aria-label="...">
  <a href="/"><button type="button" class="btn btn-default">Robot City </button></a>
  <a href="/robots/new"><button type="button" class="btn btn-default">Create New Robot</button></a>
  <a href="/robots/stats"><button type="button" class="btn btn-default">Robot Statistic</button></a>
</div><br>

<div class="profile_center">

<table>
  <% @robots.each do |robot| %>
<tr>
  <td>
    <img src="<%= robot.avatar %>" width="50px" height="50px">
  </td>
  <td>

  </td>
</tr>
<tr>
    <td>
      <h3>(<%= robot.id %>) <a tag=<%= robot.id %> href="/robots/<%= robot.id %>"><%= robot.name %></a></h3>
    </td>
    <td>
      
    </td>
</tr>
<tr>
  <td>
      <a href="/robots/<%= robot.id %>/edit"><input type="submit" value="Edit"></a>
    </td>
    <td>
    <form action="/robots/<%= robot.id %>" method ="post">
      <input type="hidden" name="_method" value="delete">
      <input id=<%= robot.id %> type="submit" value="Delete">
    </form>
  </td>
</tr>
  <% end %>

</table>
</div>
