<a href="/robots">ROBOT Index</a>

<h1><%= @robot.name %></h1>

<img src="<%= @robot.avatar %>">

<p>
  Name: <%= @robot.name %><br>
  City: <%= @robot.city %><br>
  State: <%= @robot.state %><br>
  Birthdate: <%= @robot.birthdate %><br>
  Date Hired: <%= @robot.date_hired %><br>
  Department: <%= @robot.department %><br>

</p>
